<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GITA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="shloak"><%= verse %></div>
        <div class="translation"><%= translation %></div>
        <div class="desc"><%= commentaries %></div>
        <div class="number"><%= verseNumber %></div>
    </div>
</body>
</html>